#search_tag {
  margin-top: 10;
  font-size: 50;
  font-weight: 'bold';
  justify-content: 'center';
  align-items: 'center';
  text-align: 'center';
}
.search_render_text {
  font-size: 8;
  font-weight: 'bold';
  align-self: 'center';
  justify-content: 'center'
}
#container {
  background-color: '#ecf0f1';
  justify-content: 'center';
  align-items: 'center'
}
.ion-header {
  margin-top: 20;
  justify-content: 'center';
  align-content: 'center';
  align-items: 'center'
}
#search_button {
  font-size: 30;
  font-weight: 'bold';
  justify-content: 'center';
  align-items: 'center';
}
#search_render {
  height: 50;
  width: 400;
  margin-top: 10;
  font-size: 30;
  font-weight: '600';
  color: '#0022E1';
  flex-direction: 'row';
  justify-content:'center';
  align-items: 'center'
}
