<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="SearchAPatient">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search a Patient</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="AddAPatient">
      <ion-icon name="happy"></ion-icon>
      <ion-label>Add a Patient</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ActiveCases">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Active Cases</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
