<ion-content class= "auth_tag" [fullscreen]="true">
  <ion-label class="auth_render_text"> User Authentication</ion-label>
  <br/>
  <ion-img src= "../../../assets/icon/PCDMS_logo.png" align-content=center style="height:50%"></ion-img>
  <ion-label class="auth_enter_txtfield"> Enter personal access code: </ion-label>
  <br/>
  <ion-input class="auth_input" placeholder="Enter code here" clearOnEdit="true" [(ngModel)]="accessCode"></ion-input>
  <br/>
  <ion-button class="auth_button" (click)="start()">Verify</ion-button>
  <br/>
  <ion-button class="logout">Logout</ion-button>
</ion-content>
